{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
<H1>Liste des catégories</H1>
    <ul>
        {% for cat in categories %}
            <li>{{ cat.libelle }}</li>

        {% endfor %}
    </ul>
{% endblock %}
